#my-portrait{
  width: 300px;
  /*padding-left: 1000px ;*/
  float:right;
}
body{
  background-color: aliceblue;
  width:auto;
  height: 500px;
}
#content{
  padding: 50px;
  background-color:#314552;
  width:auto;
  height: 300px;
}
#intro{
  color: mintcream;
  padding-left: 80px;
  padding-right: 800px;
  padding-top: 40px;
  text-align:justify;
}
h1{
  font-size: 40px;
  font-family: Helvetica;
}
p{
  font-size:18px;
  font-family:arial;
  line-height: 30px;
}
h2{
  padding-top: 60px;
  font-family:helvetica;
  font-size: 28px;
}
ul{
  font-family:arial;
  font-size: 18px;
  padding-bottom:70px;
  line-height: 30px;
}
