#lab8head{
  background-color:#314552;
  color:mintcream;
  margin-top:0px;
  padding:30px;
  font-size:30px;
  font-family:Helvetica;
  }

h2{
  padding-top: 5px;
  font-family:helvetica;
  }

#lab8info{
  margin-left: 50px;
  margin-right:50px;
}

p{
  font-family:arial;
  font-size:17px;
}
#output {
  border-style: solid;
  border-radius: 18px;
  padding:10px;
  margin-right:800px;
}
