body{
  background-color: aliceblue;
}
.lab13content{
  padding:50px;
  padding-top:5px;
  padding-bottom:10px;
  margin-left: 150px;
  margin-right:200px;
}
.outputResults {
  margin-bottom:50px;
}
#lab13head{
  background-color:#314552;
  color:mintcream;
  padding:30px;
  margin-top:0;
  font-size:50px;
  font-family:Helvetica;
}
#output {
  -webkit-column-width: 200px;
  column-width: 130px;
  margin-left:50px;
  margin-right:50px;
  background-color:#a3b7d9;
  padding:20px;
  border-radius:10px;
  line-height:5px;
}
h2{
  padding-top: 5px;
  font-family:helvetica;
}
p {
  font-family:arial;
  font-size:18;
  line-height:25px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0;
  margin-bottom: 0;
}
