.special{
padding-top:0px;
padding-left:50px;
padding-right:50px;
padding-bottom: 20px;
text-align:justify;
border-radius: 17px;
border:none;
background-color:#587282;
color:white;
transition: all 0.5s;
}
#lab11head {
  background-color:#314552;
  color:mintcream;
  padding:20px;
  font-size:40px;
  font-family:Helvetica;
}
#lab11info {
  margin-left:100px;
  margin-right: 135px;
  padding-bottom:40px;
}
#chbutton, #pbutton, #rbutton {
  color:white;
  background-color:#485f6e;
  border:none;
  padding:10px 24px;
  transition: 0.4s;
  border-radius: 17px;
  font-weight: bold;
}
#chbutton:hover, #pbutton:hover, #rbutton:hover {
  background-color:#314552;
}
h2{
  padding-top:15px;
  font-family:helvetica;
  font-size:30px;
}
p {
  font-family:arial;
  font-size:16px;
  text-align: justify;
  margin-left:50px;
  padding-top:0px;
  line-height: 20px;
}
