#lab10head{
  background-color:#314552;
  color:mintcream;
  padding:30px;
  margin-top:0;
  font-size:30px;
  font-family:Helvetica;
  }

h2{
  padding-top: 5px;
  font-family:helvetica;
  }

#lab10info{
  padding:50px;
  padding-top:5px;
  padding-bottom:10px;
  margin-left: 10px;
  margin-right:500px;
}

p{
  font-family:arial;
  font-size:18;
  text-align:justify;
}
#results {
  float:right;
  margin-right:200px;
}
