#lab14head{
  background-color:#314552;
  color:mintcream;
  margin-top:0px;
  margin-bottom:0px;
  padding:20px;
  font-size:50px;
  font-family:Helvetica;
  }

h2{
  padding-top: 5px;
  font-family: "helvetica";
  }

#lab14info{
  padding:20px;
  padding-top:5px;
  margin-top:0px;
  margin-left: 10px;
}
p{
  text-align: justify;
  font-size: 15px;
  line-height: 25px;
}
#results {
}
#lab7 {
  width:400px;
}
#lab8 {
  width:400px;

}
#lab10 {
  width:400px;

}
